
body{
    background-color: #E1EBF4;
    margin-left: 0px;
    margin-right: 0px;
}

.text-primary{
    color: #C45050!important;
}
.bg-primary{
    background: #C45050!important;
}

a:hover{
    color: #e19d9d!important;
}

.icon{
    margin-right: 15px;
}


.live-stream{
    background-color: #C45050;
    color: white;
}

.form-control{
    padding: 15px 10px!important;
}


#carousel {
    position: relative;
    height: 98vh; /* Ensures the carousel covers 75% of the viewport height */
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
}

.c-item img.c-img {
    height: 98vh;
    object-fit: cover; /* Ensures the image covers the container without stretching */
    filter: brightness(0.7);
}

.carousel-caption {
    text-align: center;
    color: #fff; /* Ensure the text stands out */
}

.carousel-caption h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

.carousel-caption p {
    font-size: 1.25rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Same text shadow for consistency */
}



.carousel-button{
    border: 1px solid white;
    background-color: transparent; 
    transition: background-color 0.3s ease;
    border-radius: 30px;
    color: white;
    padding: 1rem 3rem;
}


.carousel-button:hover {
    background-color: #C45050;
}


.flex-container{
    background-color: #737373;
}

.img-bg{
    background-image: url(/images/carousel-footer-blurr.png);
}

#overlaying-section{
    position: absolute;
    bottom: 0;

}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    pointer-events: none; /* Ensures the overlay doesn't interfere with interactions */
}


.the-buttons{
    background-color: white;
    border: none;
    color: #C45050;
   padding: 1rem 3rem;
   margin: .2rem 0rem;
   min-width: 20rem;
   font-weight: 600;
   display: flex;
   justify-content: center;
    border-radius: 10px;

}

.span-btn{
    text-align: center;
}
.text-abt{
    height: 350px;
}

.paragraph-2{
    font-size: 16px;
}

.church-welcome{
    color: #C45050;
}

.sermon-thumbnails{
    width: 100%;
    height: 220px;
    object-fit: cover;
}



.input{
    font-size: 18px;
    width: 60%;
    border: 1px solid #C45050;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 10px;
    outline: none;
    background: #efefef;
}
.button{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    background: #C45050;
}

.sub-container{
    background-image: url(./images/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 70vh;
    background-attachment: fixed;
    
}

.box{
    text-align: center;
    background-color: rgba(225, 235, 244, 0.2); /* Equivalent to #E1EBF433 */
    backdrop-filter: blur(20px); /* Apply a blur effect */
    -webkit-backdrop-filter: blur(10px); 
    padding: 40px;
    border-radius: 20px;
    color: #fff;
}

.about-bishop{
    text-align: justify;
}

.vh-80{
    min-height: 80vh;
}



#sermons{
    background-color: #fff;
    min-height: 75vh;
}

.img-ministry{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.ministry-cat{
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
}

.p-ministry{
    font-size: 16px;
    text-align: justify;
}

.ministry-title{
    font-size: 30px;
}

.form{
    text-align: left;
}

.form-buttons{
    border: none;
    width: 150px;
}

.sermon-header{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.sermon-p{
    font-size: 14px;
    margin-top: 0px;
    color: #fff;
    font-weight: bolder;
}

.event-calender{
    border-radius: 0 15px 15px 15px;
    margin: 2px;
    position: relative;
}

.event-calender-img{
    width: 100%; 
    height: auto;
    border-radius: 0 15px 0 0;
}

.sermon-date{
    background-color: #C45050;
    position: absolute;
    top: 0px;
    height: 40px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-background{
    background: #C45050;
    background-image: url(/images/4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us-img{
    width: 100%;
    height: 380px;
    margin: 0%;
    padding: 0%;
}

.feedback-pos{
    position: relative;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.devotion-link{
    text-decoration: none;
    color: #C45050;
}

.contact-form{
    /* position: absolute;
    top: 0;
    right: 0;
    /* width: 100%; */
    padding: 2rem 0.5rem; 

}

.contact-form .card{
    border-radius: 13px;
}

.contact-form label{
    font-weight: 700;
}

#footer{
    min-height: 50vh;
    background-color: #232323;
    color: #fff;
}


.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 200;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-container {
    max-width: 80%; /* Restricts the width of the navbar to make it more centralized */
    margin: 0 auto; /* Centers the navbar horizontally */
}

.navbar-nav {
    width: 100%;
    justify-content: center; /* Center the ul within the navbar */
}

.navbar .nav-link {
    padding: 15px 30px; /* Increase padding inside each nav-link for a larger appearance */
    font-size: 18px; /* Adjust the font size */
}


